* {
  background-color: #6ce0ec;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #6ce0ec;
}
.main-class {
  background-color: rgb(51, 110, 111);
  text-align: center;
  margin: 5%;
  padding: 2%;
  display: inline-block;
}
.image-class {
  padding: 0;
  display: inline-block;
  justify-content: space-between;
  flex-direction: row-reverse;
}
h2 {
  padding: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #49546b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
