@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam&family=Montez&family=Petemoss&family=Shalimar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam&family=Montez&family=Petemoss&family=Shalimar&display=swap");
* {
  background-color: #6ce0ec;
  box-sizing: border-box;
  font-family: Architects Daughter;
  font-weight: 600;
}

.App {
  text-align: left;
}
.main-class {
  font-family: Montez;
  background-color: rgb(51, 110, 111);
  text-align: center;
  margin: 5%;
  padding: 01%;
}
.navbar {
  flood-color: snow;
  border: solid rgb(51, 110, 111);
  box-shadow: slategray;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 30px 10%;
}
.image-class {
  padding: 0;
  display: inline-block;
  justify-content: space-between;
  flex-direction: row-reverse;
}
h2 {
  padding: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.side-nav {
  background-color: snow;
}
